#!/usr/bin/make -f

configure: configure-stamp
configure-stamp:
	dh_testdir
	cd src && qmake "RS_MAJOR_VERSION=0" "RS_MINOR_VERSION=6" "RS_MINI_VERSION=4" "RS_EXTRA_VERSION=XXXXXX" "CONFIG-=debug" "CONFIG+=release" "CONFIG+=rs_autologin" "CONFIG+=retroshare_plugins" PREFIX=/usr LIB_DIR=/usr/lib RetroShare.pro
	touch $@


build: build-arch build-indep

build-stamp: configure-stamp
	dh_testdir
	cd src && $(MAKE)
	touch $@

build-indep: build-stamp

build-arch: build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f configure-stamp build-stamp
	# Add here commands to clean up after the build process.
	[ ! -f src/Makefile ] || (cd src && $(MAKE) distclean)
	dh_prep
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_clean
	#dh_installdirs
	cd src && $(MAKE) INSTALL_ROOT=$(CURDIR)/debian/tmp install

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --list-missing
	#dh_installdocs
	#dh_installexamples
	#dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
