[submodule "supportlibs/restbed"]
	path = supportlibs/restbed
	url = https://github.com/Corvusoft/restbed.git
[submodule "cmark"]
	path = supportlibs/cmark
	url = https://github.com/commonmark/cmark.git
[submodule "build_scripts/OBS"]
	path = build_scripts/OBS
	url = https://github.com/RetroShare/OBS.git
[submodule "supportlibs/udp-discovery-cpp"]
	path = supportlibs/udp-discovery-cpp
	url = https://github.com/truvorskameikin/udp-discovery-cpp.git
	branch = develop
