[submodule "supportlibs/restbed"]
	path = supportlibs/restbed
	url = https://github.com/Corvusoft/restbed.git
[submodule "cmark"]
	path = supportlibs/cmark
	url = https://github.com/commonmark/cmark.git
[submodule "build_scripts/OBS"]
	path = build_scripts/OBS
	url = https://github.com/RetroShare/OBS.git
[submodule "supportlibs/udp-discovery-cpp"]
	path = supportlibs/udp-discovery-cpp
	url = https://github.com/truvorskameikin/udp-discovery-cpp.git
	branch = master
# develop branch was removed we were using it at commit f3a3103a6c52e5707629e8d0a7e279a7758fe845
[submodule "supportlibs/rapidjson"]
	path = supportlibs/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "supportlibs/libsam3"]
	path = supportlibs/libsam3
	url = https://github.com/i2p/libsam3.git
[submodule "supportlibs/jni.hpp"]
	path = supportlibs/jni.hpp
	url = https://github.com/RetroShare/jni.hpp.git
[submodule "openpgpsdk"]
	path = openpgpsdk
	url = ../OpenPGP-SDK
	branch = master
[submodule "libbitdht"]
	path = libbitdht
	url = ../BitDHT
	branch = master
[submodule "libretroshare"]
	path = libretroshare
	url = https://github.com/RetroShare/libretroshare.git
	branch = master
[submodule "retroshare-webui"]
	path = retroshare-webui
	url = https://github.com/RetroShare/RSNewWebUI.git
[submodule "supportlibs/librnp"]
	path = supportlibs/librnp
	url = https://github.com/rnpgp/rnp.git
