# SPDX-FileCopyrightText: (C) 2004-2019 Retroshare Team <contact@retroshare.cc>
# SPDX-License-Identifier: CC0-1.0

*.o
*.sw?
*.so
*.so.*
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*.sw?
*~
Thumbs.db
*.pro.user
.kdev4
*.kdev4

!supportlibs/libsam3/Makefile
