 form.signup input.wrong {
    background: #f2dede;
}
 form.signup input.valid {
    background: #dff0d8;
}
 .alert-error {
     background-color: #f2dede;
     border-color: #eed3d7;
     color: #b94a48;
 }
 .alert, .alert h4 {
     color: #c09853;
 }
 .alert {
     padding: 8px 35px 8px 14px;
     margin-bottom: 20px;
     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
     background-color: #fcf8e3;
     border: 1px solid #fbeed5;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
 }
 
 #premium-signup-container {
 	background: #fff;
	border: 1px solid #ddd;
	padding: 10px 20px 5px;
 }
 
 #premium-signup-container form {
 	padding-top: 10px;
 }
 