.modal.secret-message #compose-message-popup {
    width: 950px;
    margin-left : -60px;
}

.modal.secret-message #message-sending-popup {
    width: 500px;
}
.modal.secret-message {
    margin-left: -400px;
    font-size: 12px;
    line-height: 1.4em;
    -webkit-font-smoothing: auto;
    color: #444;
    margin-top: -70px;
}
.modal.secret-message .find-column {
    float: left;
    width: 40%;
}
.modal.secret-message .invite-column {
    float: left;
    width: 60%;
}

.modal.secret-message .message-editor {
    float: left;
    width: 98%;
    clear: both;
    margin: 0 14px;
}

.modal.secret-message .find-column > .wrap,
.modal.secret-message .invite-column > .wrap {
    margin: 0 14px;
}
.modal.secret-message .find-column:first-child > .wrap,
.modal.secret-message .invite-column:first-child > .wrap {
    margin-right: 0;
}
.modal.secret-message .mail-icon {
    position: relative;
    top: 5px;
}
.modal.secret-message .mail-icon.gmail {
    background: url(../img/gmail-h24.png) no-repeat center;
    height: 18px;
    width: 28px;
}
.modal.secret-message .mail-icon.yahoo {
    background: url(../img/yahoo-icon.png) no-repeat center;
    height: 18px;
    top: 4px;
    width: 28px;
}
.modal.secret-message .mail-icon.hotmail {
    background: url(../img/hotmail-icon.png) no-repeat center;
    height: 18px;
    top: 4px;
    width: 28px;
}
.modal.secret-message .dropdown-menu li a {
    line-height: 27px;
}
.modal.secret-message .contact-result-list {
    overflow: auto;
    height: 160px;
    border: solid 1px #ddd;
}
.modal.secret-message .contact-result-list ul {
    margin: 0 0 10px;
    list-style: none;
    border-top: solid 1px #ddd;
}
.modal.secret-message .contact-result-list li {
    position: relative;
}
.modal.secret-message .contact-result-list .contact {
    line-height: 24px;
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
    background: #eee;
    border-bottom: solid 1px #ddd;
    font-size: 12px;
    margin: 0;
}
.modal.secret-message .contact-result-list .contact:hover {
    background: #ddd;
}
.modal.secret-message .contact-result-list img {
    width: 24px;
    margin-right: 5px;
}
.modal.secret-message .contact-result-list a.add {
    position: absolute;
    top: 50%;
    margin-top: -11px;
    height: 18px;
    /*padding: 0 0 0 3px;*/
    padding:0;
    line-height: 18px;
    width: 24px;
}
.modal.secret-message .contact-result-list a.email-item {
    right: 4px;
}

.modal.secret-message .contact-result-list a.bcc-item {
    right: 32px;
}
.modal.secret-message .contact-result-list .title {
    padding: 5px 10px;
}
.modal.secret-message .contact-result-list h5 {
    margin: 0;
}
.modal.secret-message .contact-result-list input[type=checkbox] {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px;
}
.modal.secret-message .has-header .contact-result-list {
    height: 200px;
}
.modal.secret-message .has-header .contact-result-list ul {
    border-top: none;
}
.modal.secret-message .search-container {
    background: none;
    border: solid 1px #2D98E5;
    height: 220px;
    margin-bottom: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width : 355px;
}
.modal.secret-message .search-container .tab-content {
    padding: 10px;
}
.modal.secret-message .search-container .tab-content .input-append input {
    width: 275px;
}
.modal.secret-message .search-container .tab-content .input-append .btn {
    height: 30px;
    width: 100px;
}
.modal.secret-message .search-container .nav-tabs {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: #33aaff;
    background-color: #1fa1ff;
    background-image: -moz-linear-gradient(top, #33aaff, #0095ff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33aaff), to(#0095ff));
    background-image: -webkit-linear-gradient(top, #33aaff, #0095ff);
    background-image: -o-linear-gradient(top, #33aaff, #0095ff);
    background-image: linear-gradient(to bottom, #33aaff, #0095ff);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33aaff', endColorstr='#ff0095ff', GradientType=0);
    border-color: #0095ff #0095ff #0068b3;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom: solid 1px #33aaff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
}
.modal.secret-message .search-container .nav-tabs .dropdown-menu {
    margin: 0 0 0 -1px;
}
.modal.secret-message .search-container .nav-tabs > .active > a,
.modal.secret-message .search-container .nav-tabs > li > a,
.modal.secret-message .search-container .nav-tabs > .active > a:hover,
.modal.secret-message .search-container .nav-tabs > li > a:hover,
.modal.secret-message .search-container .nav-tabs > .active > a:focus,
.modal.secret-message .search-container .nav-tabs > li > a:focus {
    padding: 8px;
    border-right: solid 1px #0086e5;
    border-color: #0086e5;
    border-left: none;
    border-top: none;
    border-bottom: none;
    top: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    color: #fff;
    background: transparent;
}
.modal.secret-message .search-container .nav-tabs > .active:first-child > a,
.modal.secret-message .search-container .nav-tabs > li:first-child > a {
    border-left: none;
}
.modal.secret-message .search-container .nav-tabs > .active:first-child > a:hover,
.modal.secret-message .search-container .nav-tabs > li:first-child > a:hover,
.modal.secret-message .search-container .nav-tabs > .active:first-child > a:focus,
.modal.secret-message .search-container .nav-tabs > li:first-child > a:focus {
    border-left: none;
}
.modal.secret-message .search-container .nav-tabs > .active > a,
.modal.secret-message .search-container .nav-tabs > .active > a:hover,
.modal.secret-message .search-container .nav-tabs > .active > a:focus {
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    background: #0077cc;
}
.modal.secret-message .search-container .nav-tabs > li > a:hover,
.modal.secret-message .search-container .nav-tabs > li > a:focus {
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    background: #0077cc;
}
.modal.secret-message .search-container .nav-tabs .nav-tabs .open .dropdown-toggle,
.modal.secret-message .search-container .nav-tabs .nav-pills .open .dropdown-toggle,
.modal.secret-message .search-container .nav-tabs .nav > li.dropdown.open.active > a:hover,
.modal.secret-message .search-container .nav-tabs .nav > li.dropdown.open.active > a:focus {
    border-right: solid 1px #0086e5;
}
.modal.secret-message .invite-column.inactive {
    position: relative;
}
.modal.secret-message .invite-column.inactive .blocker {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    opacity: .7;
}
.modal.secret-message .find-column > .wrap.inactive {
    position: relative;
}
.modal.secret-message .find-column > .wrap.inactive .blocker {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    opacity: .7;
}
.modal.secret-message .input-prepend input {
    width: 246px;
}
.modal.secret-message .input-prepend label {
    margin: 0;
    width: 100px;
    border-right: 0;
}
.modal.secret-message div.tagsinput {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.modal.secret-message input[type=password],
.modal.secret-message input[type=text] {
    border: solid 1px #ccc;
    background: #fff;
    width: 90%;
}
.modal.secret-message textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
}
.modal.secret-message .social {
    margin-right: 8px;
    position: relative;
}
.modal.secret-message .social:hover {
    top: -1px;
}
.modal.secret-message .facebook {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    background: url(../img/facebook-32.png) center no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
}
.modal.secret-message .twitter {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    background: url(../img/twitter-32.png) center no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
}
.modal.secret-message .modal-footer p {
    line-height: 32px;
    -webkit-font-smoothing: auto;
    margin: 0;
    font-weight: 600;
}

.modal.secret-message .find-column .progress {
    width: 80%;
    margin: 60px 50px;
}
.modal.secret-message .control-label {
    float: left;
    width: 50px;
    padding-top: 5px;
}

.modal.secret-message .controls {
    margin-left: 80px;
}

.modal.secret-message .modal-footer label {
    font-size: 13px;
    width: 90px;
    color: #666;
}

.modal.secret-message .modal-footer input[type="radio"] {
    margin: 0px 3px 5px 5px;
}

#sendSecretMessageValidations {
    text-align:left;
    color:red;
    font-size:14px;	
    font-family: "Droid Sans";
}

.sc-share-file {
    color: #666;
    padding: 0 0 10px 4px;
    float: left;
    position: relative;
}
#files-attach-label .sc-progress {
    height: 5px;
    margin-bottom: 0px;
    width: 100%;
}

#files-attach-label span.tag {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    color: #333333;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 4px;
    /*margin-right: 4px;*/
    padding: 3px 14px 3px 8px;
    position: relative;
    text-decoration: none;
}

#files-attach-label span.tag a {
    background: url("../img/close.png") no-repeat scroll center center transparent;
    display: block;
    height: 100%;
    opacity: 0.6;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 20px;
}
#message-editor-area{
  height: 120px;
  margin-right: 50px;
  position: relative;
}

#publicMessage #message-editor-area{
  margin-right: 0px;
}