[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=RetroShare System Service
Comment=Securely share files with your friends (system service)
Exec=retroshare-service %U
Icon=retroshare-service
Terminal=false
Type=Application
Categories=Network;
