.header {
	font-weight: bold;
}

.time {
}

.incomingTable{
	background-color:#dfedff;
}

.incomingHeader {
	border-color:#fafafa #d1dfef #d1dfef #fafafa;
	color: #295b07;
}

.incomingTime {
	color: #295b07;
}

.outgoingTable{
	background-color:#f5f5f5;
}

.outgoingHeader {
	border-color:#fafafa #e3e3e3 #e3e3e3 #fafafa;
	color: #244578;
}

.outgoingTime {
	color: #244578;
}

.hincomingTable{
	background-color:#dfedff;
}

.hincomingHeader {
	border-color:#fafafa #d1dfef #d1dfef #fafafa;
	color: #295b07;
}

.hincomingTime {
	color: #295b07;
}

.houtgoingTable{
	background-color:#f5f5f5;
}

.houtgoingHeader {
	border-color:#fafafa #e3e3e3 #e3e3e3 #fafafa;
	color: #244578;
}

.houtgoingTime {
	color: #244578;
}

