body {
    background-color: black;
    color: lime;
    font-family: monospace;
    margin: 0em;
    /*padding: 1.5em;*/
    padding: 2mm;
    font-size: 1.1em;
    box-sizing: border-box;
}

#overlay{
    z-index: 10;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.paddingbox{
    padding:2mm;
}

.nav{
    list-style-type: none;
    padding: 0em;
    margin: 0em;
}

.nav li{
    display: inline;
    padding: 0.1em;
    margin-right: 1em;
    border-width: 0.1em;
    border-color: blue;
    border-bottom-style: solid;
    cursor: pointer;
}
td{
    padding: 0.3em;
    border-style: solid;
    border-width: 0.1em;
    border-color: lime;
}
hr {
    color: lime;
}
.menu{
    border-style: solid;
    border-color: lime;
    border-width: 0.1em;
    cursor: pointer;
    padding: 0.0em;
}
.btn{
    border-style: solid;
    border-color: lime;
    border-width: 0.1em;
    cursor: pointer;
    padding: 0.1em;
}

.btn2, .box{
    border-style: solid;
    /*border-color: lime;*/
    border-color: limeGreen;
    /*border-width: 1px;*/
    border-radius: 3mm;
    padding: 2mm;
    font-size: 10mm;
    cursor: pointer;
    margin-bottom: 2mm;
}
.btn2:hover{
    background-color: midnightblue;
}

.filelink{
    color: inherit;
}

input, textarea{
    color: lime;
    font-family: monospace;
    background-color: black;
    border-color: lime;
    font-size: 10mm;
    border-radius: 3mm;
    border-width: 1mm;
    padding: 2mm;
    margin-bottom: 2mm;
    margin-right: 2mm;

    /* make the button the whole screen width */
    width: 100%;
    /* make the text input fit small screens*/
    box-sizing: border-box;
}
input:hover{
    background-color: midnightblue;
}

.checkbox {
    width: auto;
}

.flexbox{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flexwidemember{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#logo_splash{
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation-name: logo_splash; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    animation-name: logo_splash;
    animation-duration: 3s;
    text-align: center;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes logo_splash {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes logo_splash {
    from {opacity: 0;}
    to {opacity: 1;}
}
