body {
    background-color: #CCC;
    color: #666;
    font-family: sans;
    margin: 0em;
    /*padding: 1.5em;*/
    padding: 2mm;
    font-size: 1.1em;
    box-sizing: border-box;
}

h2 {
    text-transform: uppercase;
}

#overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.paddingbox {
    padding: 2mm;
}

.nav {
    list-style-type: none;
    padding: 0em;
    margin: 0em;
}

.nav li {
    display: inline;
    padding: 0.1em;
    margin-right: 1em;
    border-width: 0.1em;
    border-color: blue;
    border-bottom-style: solid;
    cursor: pointer;
}

td {
    padding: 0.3em;
    border-style: none;
    border-width: 0.1em;
    border-color: orange;
}

li {
    list-style: none;
}

.btn {
    cursor: pointer;
    padding: 0.1em;
}

input[type="button"] {
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-size: 6mm;
    cursor: pointer;
    color: #333;
    background-color: #f79e3a;
    width: 26vw;
    display: inline-grid;
    margin: 0.2rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
    box-shadow: 5px 5px 9px #aaa;
    word-break: break-all;
}

.btn2,
.box,
.btnSmall {
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-size: 6mm;
    cursor: pointer;
    color: #333;
    background-color: #f79e3a;
    display: inline-grid;
    margin: 0.2rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
    box-shadow: 5px 5px 9px #aaa;
}

.btn2,
.box
{
    width: 12rem;
}

.btnSmall {
    width: 7rem;
}

.menu {
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-size: 0.8em;
    cursor: pointer;
    background-color: #f79e3a;
    display: inline-grid;
    margin: 0.2rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
    width: 7rem;
}

span.menu:nth-child(2) {
    background-color: rgba(0, 0, 0, 0);
    width: 6.3rem;
}

span.menu:nth-child(16) {
    background-color: rgba(0, 0, 0, 0);
}

li .menu {
    background-color: rgba(0,0,0,0.3);
}

div.btn2:nth-child(9) {
    border: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    box-shadow: unset;
    margin-top: 1em;
    text-align: left !important;
    font-size: 1em;
}

div.btn2:nth-child(9):hover {
    color: #666;
}

.btn2:hover {
    background-color: orangered;
    color: white;
}

.hidden {
    display: none;
}

.noBorderTable {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.noBorderTD {
    border: none;
    border-collapse: collapse;
    vertical-align: center;
}

.filelink {
    color: inherit;
}

input,
textarea {
    border-color: orange;
    font-size: 10mm;
    border-radius: 3mm;
    border-width: 1mm;
    padding: 2mm;
    margin-bottom: 1mm;
    margin-right: 1mm;
    /* make the button the whole screen width */
    width: 100%;
    /* make the text input fit small screens*/
    box-sizing: border-box;
}

input[type="button"]:hover {
    background-color: orangered;
}


/*chat*/

textarea#txtNewMsg {
    font-size: 100%;
    border-radius: 3mm;
    border-width: 1mm;
    padding: 2mm;
    margin-bottom: 0mm;
    margin-right: 1mm;
    height: 110px;
    resize: none;
    /* make the button the whole screen width */
    width: 100%;
    /*height: 100%;*/
    /* make the text input fit small screens*/
    box-sizing: border-box;
}

input#txtMsgKeyword {
    /*  color: orange;
    font-family: monospace;
    background-color: black;*/
    border-color: orange;
    font-size: 100%;
    border-radius: 3mm;
    border-width: 1mm;
    padding: 1mm;
    margin-bottom: 0mm;
    margin-right: 1mm;
    /* make the button the whole screen width */
    width: 100%;
    /* make the text input fit small screens*/
    box-sizing: border-box;
}

.checkbox {
    width: auto;
}

.flexbox {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flexwidemember {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    width: 20%;
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#logo_splash {
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation-name: logo_splash;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s;
    /* Chrome, Safari, Opera */
    animation-name: logo_splash;
    animation-duration: 3s;
    text-align: center;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes logo_splash {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Standard syntax */

@keyframes logo_splash {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}