@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:  local('Open Sans'), local('Open Sans'), url(OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'), url(Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: local('Roboto'), local('Roboto'), url(Roboto-Bold.ttf) format('truetype');
}