.name {
	font-weight: bold;
}

.incomingTime {
	color:#C00000;
}

.incomingName {
	color:#2D84C9;
}

.outgoingTime {
	color:#C00000;
}

.outgoingName {
	color:#2D84C9;
}

.hincomingTime {
	color:#800000;
}

.hincomingName {
	color:#1E5684;
}

.houtgoingTime {
	color:#800000;
}

.houtgoingName {
	color:#1E5684;
}

.ooutgoingTime {
	color:#C00000;
}

.ooutgoingName {
	color:#FF0000;
}
