.name {
	font-weight: bold;
}

.time {
}

.incomingTable {
	background-color:#dfedff;
}

.incomingTime {
	color: #295b07;
}

.incomingName {
	color: #295b07;
}

.outgoingTable {
	background-color:#f5f5f5;
}

.outgoingTime {
	color: #244578;
}

.outgoingName {
	color: #244578;
}

.hincomingTable {
	background-color:#dfedff;
}

.hincomingTime {
	color: #295b07;
}

.hincomingName {
	color: #295b07;
}

.houtgoingTable{
	background-color:#f5f5f5;
}

.houtgoingTime {
	color: #244578;
}

.houtgoingName {
	color: #244578;
}

.ooutgoingTable {
	background-color:#ffbebe;
}

.ooutgoingTime {
	color: #244578;
}

.ooutgoingName {
	color: #244578;
}
