.name {
	font-weight: bold;
}

.incomingTime {
	color:#C00000;
}

.outgoingTime {
	color:#C00000;
}

.hincomingTime {
	color:#800000;
}

.houtgoingTime {
	color:#800000;
}

.ooutgoingTime {
	color:#C00000;
}
