.name {
	font-weight: bold;
}

.incomingTime {
	color:#808080;
}

.outgoingTime {
	color:#808080;
}

.hincomingTime {
	color:#808080;
}

.houtgoingTime {
	color:#808080;
}

.ooutgoingTime {
	color:#808080;
}
