#include <winver.h>
#include "retroshare_win.rc.h"
#include "retroshare/rsversion.h"

IDI_ICON1               ICON    "logo/logo_256.ico"

#define STRINGIZER(version) #version
#define VERSION_STRING(major,minor,mini,extra) STRINGIZER(major) "." STRINGIZER(minor) "." STRINGIZER(mini) STRINGIZER(extra)

VS_VERSION_INFO VERSIONINFO
FILEVERSION     RS_MAJOR_VERSION,RS_MINOR_VERSION,RS_MINI_VERSION,0
PRODUCTVERSION  RS_MAJOR_VERSION,RS_MINOR_VERSION,RS_MINI_VERSION,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "CompanyName", ""
            VALUE "FileDescription", "RetroShare"
            VALUE "FileVersion", VERSION_STRING(RS_MAJOR_VERSION, RS_MINOR_VERSION, RS_MINI_VERSION, RS_EXTRA_VERSION)
            VALUE "InternalName", "RetroShare"
            VALUE "OriginalFilename", "RetroShare.exe"
            VALUE "ProductName", "RetroShare"
            VALUE "ProductVersion", VERSION_STRING(RS_MAJOR_VERSION, RS_MINOR_VERSION, RS_MINI_VERSION, RS_EXTRA_VERSION)
            VALUE "LegalCopyright", ""
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0809, 1200
    END
END
