[Desktop Entry]
Version=1.0
Name=UnseenP2P
Comment=Securely share files with your friends
Exec=/usr/bin/unseenp2p %U
Icon=/usr/share/pixmaps/retroshare.xpm
Terminal=false
Type=Application
Categories=Network;P2P;
MimeType=x-scheme-handler/retroshare;
