[Desktop Entry]
Version=1.0
Name=RetroShare06
Comment=Securely share files with your friends
Exec=/usr/bin/RetroShare06 %U
Icon=/usr/share/pixmaps/retroshare06.xpm
Terminal=false
Type=Application
Categories=Network;P2P;
MimeType=x-scheme-handler/retroshare;
