[Desktop Entry]
Encoding=UTF-8
Exec=retroshare
Icon=/usr/share/retroshare/retroshare.png
Type=Application
Terminal=false
MultipleArgs=false
Name=Retroshare
GenericName=Sharing Network
StartupNotify=true
Categories=Application;Network;
