.name {
	font-weight: bold;
}

.time {
	color:#808080;
}

.incomingName {
	color:#42940C;
}

.outgoingName {
	color:#2F5A9B;
}

.hincomingName {
	color:#88f042;
}

.houtgoingName {
	color:#6491d2;
}

.ooutgoingName {
	color:#ff0000;
}
